:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#form_wrapper {
  min-height: 100vh;
  display:grid;
  place-items: center;
}

#login_form {
  display: grid;
  gap: 1rem;
  place-items: center;

  label, input {
    display: block;
  }
}