:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
  display:grid;
}

#login_page {
  place-items: center;
}

#login_form {
  display: grid;
  gap: 1rem;
  place-items: center;

  label, input {
    display: block;
  }
}

#welcome_page {
  grid-template-columns: 0.2fr 1fr;
}

#menu_bar {
  display: grid;
  grid-auto-flow: row;
  background: grey;
  label {
    padding: 2rem;
    &:hover {
      background: rgb(175, 175, 175);
    }
  }
}